.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
*.tfvars.*
override.tf
override.tf.json
*_override.tf
*_override.tf.json
crash.log
crash.log.*
.terraform.lock.hcl
terraform.tfplan
terraform.tfplan.*
